{% extends 'base.html.twig' %}

{% block content %}
    <h1>Edit Student</h1>

    {{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.email) }}

    <button type="submit" class="btn btn-primary">Save Changes</button>
    
    {{ form_end(form) }}

    <a href="{{ path('list') }}">Back to Student List</a>
{% endblock %}
